h1 {
    color: aqua;
    text-align: center;
}

div {
    text-align: center;
}

.recipebuttons {
    background-color: lightcoral;
    text-align: center;
    color: grey;
    border-color: transparent;
    padding: 8px;
    margin: 5px;
    font-size: 15px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}